body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
nav{
    padding: 3px;
    background-color: #868686;
}
nav > a {
    text-decoration:none ;
    color: white;
    font-weight: bold;
    margin-right: 10px;
}

nav > a:hover{
text-decoration: underline;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
article{
    background-color: lightgrey;
}

article > aside{
    background-color: #a3a3a3;
}

footer{
    background-color:black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}